.aboutcontainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    background-color: #4665E6;
}

/* First container of aboutUs section*/
.aboutPic {    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56%;
  }

.aboutguy {    
    display: flex;
    margin-left: 14%;
    width: 80%;
    height: 80%;
    position: relative;
  }

.aboutguy > .guy {
    object-fit: cover;
    border-radius: 35px;
    position: relative;
}

.arrow {
    position: absolute;
    z-index: 9;
    top: 20%;
    right: 78%;
    width: 40%;
    height: 40%;
  }
/* First container finished */

/* Second container of aboutUs section*/
.aboutText{
    display: flex;
    flex-direction: column;   
    width: 44%; 
    color: white;
    margin-left: 1%;    
}

.titleOne{
    margin-top: 25%;
    font-family: 'Manrope';
}

.titleTwo{
    display: flex;
    justify-content: left;
    margin-top: 1%;
    margin-bottom: 4%;
    font-size: large;
    font-family: 'Manrope';
}

.about_info{
    display: flex;
    font-family: 'Manrope';  
    margin-bottom: 25%;
}

.about_info > span {
    width: 76%;
}
/* Second container finished */

@media only screen and (max-width: 800px) { 
    .aboutcontainer { 
        flex-direction: column; 
        margin-top: 5%;
    } 
    .aboutText, .aboutPic { width: 100%; }
    .aboutguy {    
        margin-left: 0;
        margin-top: 8%;
        width: 50%;
        height: 50%;
    }
    .titleTwo > h1 { font-size: 40px; }
    .titleTwo { justify-content: center; }
    .aboutText { margin-left: 0; }    
    .titleOne { 
        margin-top: 10%; 
        text-align: center;
    }        
    .about_info { margin-bottom: 10%; 
        justify-content: center;
    }
}

@media only screen and (max-width: 500px) {
    .titleOne > h1 {font-size: xx-large;}
    .titleTwo > h1 {font-size: x-large;}   
}

@media only screen and (max-width: 970px) {
.aboutguy {    
    margin-left: 4%;
    }
}