.product_cards {
    padding: 4rem;
    background: rgb(240, 237, 237);
  }
  
  h1 {
    text-align: center;
  }
  
  .product_cards__container {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin-top: 4%;
  }
  
  .product_cards_wrapper_first_row,
  .product_cards_wrapper_second_row {
    display: flex;
    flex-direction: row;
  }

  .product_cards_wrapper_first_row{
    margin-bottom: 2%;
  }

  .cards__items_1,
  .cards__items_2,
  .cards__items_3,
  .cards__items_4 {
    display: flex;
    flex-direction: row;
    width: 50%;
  }

@media only screen and (max-width: 940px) {  
  .product_cards__container { margin-top: 6%; }
  .product_cards_wrapper_first_row,
  .product_cards_wrapper_second_row {
    flex-direction: column;
  }

  .product_cards_wrapper_first_row{
    margin-bottom: 0;
  }

  .cards__items_1,
  .cards__items_2,
  .cards__items_3,
  .cards__items_4 {
    width: 100%;
    margin-bottom: 3%;
  }
}

@media only screen and (max-width: 620px) {    
  .cards__items_1,
  .cards__items_2,
  .cards__items_3,
  .cards__items_4 {
    flex-direction: column;
    margin-bottom: 0;
  }
  
  .cards__items_1 > .home_cards_item,
  .cards__items_2 > .home_cards_item,
  .cards__items_3 > .home_cards_item,
  .cards__items_4 > .home_cards_item{
    margin-bottom: 5%;
  }

  .home_cards_item_text {
    font-size: 16px !important;
  }

  .home_cards_item_informaci {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 500px) {
  .home_cards_item {
    margin-bottom: 4%;
  }

  .home_cards_item_text {
    font-size: 20px !important;
  }

  .home_cards_item_informaci {
    font-size: 16px !important;
  }

  .cards__items_1 > .home_cards_item,
  .cards__items_2 > .home_cards_item,
  .cards__items_3 > .home_cards_item,
  .cards__items_4 > .home_cards_item{
    margin-bottom: 8%;
  }
}

@media only screen and (max-width: 400px) {  
  .home_cards_item_text {
    font-size: 17px !important;
  }

  .home_cards_item_informaci {
    font-size: 14px !important;
  }
}