.ganz {
  background: #E9ECFC;
  height: 80vh;
}

  .cards_main_container {
    display: flex;
    width: 95%;
    height: 100%;
    position: absolute;
    top:70%;
    left:2%;
  }
  
  .cards_main_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height: 100%;
  }
  
  .cards__wrapper_first_row, 
  .cards__wrapper_second_row{
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .cards__wrapper_first_row { margin-bottom: 1%; }

  .cards__items_1, .cards__items_2, .cards__items_3, .cards__items_4 {
    display: flex;
    flex-direction: row;
    width: 50%;
  }
  
  .cards__item { display: flex; flex: 1; margin: 0 1rem; border-radius: 10px; }
  
  .cards__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .cards_main_item__pic-wrap {
    position: relative;
    width: 80%;
    padding-top: 67%;
    overflow: hidden;
  }
  .cards__item__pic-wrap img:hover {
      transition: 0.6s;
    }

  .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #4665E6;
      }

  .cards__item:hover .overlay {
        opacity: 0.8;
     }

  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .plus_icon {

    width: 150px;
    height: 150px;
    display: inline-block;
    background:
    linear-gradient(rgb(255, 255, 255) 0 0),
    linear-gradient(rgb(255, 255, 255) 0 0);
    background-position:center;
    background-size: 50% 2px,2px 50%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat:no-repeat;
  }

  .cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }
  
  .cards__item__img:hover {
    transform: scale(1.1);
  }

  .cards__item:hover {
    box-shadow: 0px 0px 30px -15px black;
  }
    
  .cards_main_item__info {
    padding: 10px 10px 10px;
  }
  
  .cards__item__text {
    color: #252e48;
    line-height: 24px;
    font-size: large;
    font-family: 'Manrope';
  }
  
  @media only screen and (max-width: 1024px) { .cards__item { margin-bottom: 2rem; } }
  

  @media only screen and (max-width: 940px) {
      .cards__wrapper_first_row, .cards__wrapper_second_row { flex-direction: column; }
      .cards__items_1, .cards__items_2, .cards__items_3, .cards__items_4 { width: 100%;}
  }

  @media only screen and (max-width: 500px) {
    .cards__items_1, .cards__items_2, .cards__items_3, .cards__items_4 { flex-direction: column; }
  }