.main_image{
    width: 100%;
}

.main_image > img {
    -webkit-mask-image: linear-gradient(to left, transparent 25%, black 75%);
    mask-image: linear-gradient(to left, transparent 25%, black 75%);
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 80vh;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .home_image_text {
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    width: 75%;
    top: 20%;
    left: 10%;    
    font-family: 'Manrope';
  }

  .home_image_title > h1 {
    display: flex;
    position: relative;
    font-weight: 900;
    align-items: left;
    text-align: left;
  }

  .home_image_title > h1 > p {
   font-size: 56px;
   font-weight: bold;
  }

  .home_image_title > h1 > p > span{
    color: #4665E6;
  }

  .home_image_title > h1 > img{
    width: 100%;
    height: 100%;
    top: 40%;
    left: 1%;
    z-index: 10;
    position: absolute;
  }

  .home_image_title, .home_image_subtitle, .home_image_button{
    margin-bottom: 3%;
    
  }
  .home_image_subtitle{
    width: 45%;
    color: #808080;
    font-family: 'Manrope';
    font-size: 16px;
  }

  .home_image_button {
    background-color: #4665E6;
    color: white;
    border-radius: 30px;
    width: 20%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home_image_button > i{
    margin-left: 8%;
  }

  /*
  @media only screen and (max-width: 450px) and (min-height: 600px){
    .main_image > img {
        height: 45vh;
      }
  }*/

  .home_image_button_text {
    text-decoration: none;
    color: white;
    font-family: 'Manrope';
  }

  @media only screen and (min-width: 1481px) {
  /*  .home_image_text { left: 15%; }*/
    .home_image_subtitle { width: 35%; }    
    .home_image_title > h1 > img{ left: -5%; }
  }

  
  @media only screen and (min-width: 1651px) {    
    .home_image_title > h1 > img{ 
      left: -15%;
      width: 120%; 
      height: 120%; 
    }
  }

  
  @media only screen and (min-width: 1851px) {
    .home_image_title > h1 > img{ 
      left: -15%;
      top: 35%;
      width: 120%; 
      height: 120%; 
    }
    .home_image_title > h1 > p {
      font-size: 68px;
    }
  } 

  
  @media only screen and (max-width: 1300px) {
    /*.home_image_title > h1 > img{   
      top: 50%;
      left: 13%; 
      width: 80%; 
      height: 80%; 
    }*/
    .home_image_title > h1 > p {
      font-size: 52px;
    }
  }
  
  @media only screen and (max-width: 1200px) {
   /* .home_image_title > h1 > img{   
      top: 55%;
      left: 22%; 
      width: 65%; 
      height: 65%; 
    }*/
    .home_image_title > h1 > p {
      font-size: 47px;
    }
  }
  
  @media only screen and (max-width: 1100px) {
    .home_image_title > h1 > p {
      font-size: 45px;
    }

    .home_image_title > h1 > img{   
      top: 45%;
      left: 8%; 
      width: 90%; 
      height: 90%; 
    }
  }
  
  @media only screen and (min-width: 931px) and (max-width: 1020px) {
    .home_image_title > h1 > p {
      font-size: 42px;
    }
    .home_image_subtitle{ font-size: 14.5px; }
  }

  @media only screen and (max-width: 930px) {
    .home_image_title > h1 > p {
      font-size: 38px;
    }
    .home_image_subtitle{ font-size: 14px; }
    .home_image_title > h1 > img{  
      left: 10%; 
    }
    .home_image_button {
      font-size: small;
    }
  }
  
  @media only screen and (max-width: 840px) {    
    .home_image_text { text-align: center; }
    .home_image_button { align-self: center; }
    .home_image_title > h1 > img{ display: none; }
    .home_image_title > h1 > p > span { color: black; }
    .home_image_title > h1 {
      display: flex;
      justify-content: center;
      text-align: center;
      }
    .home_image_subtitle {
      display: flex;
      justify-content: center;
      align-self: center; 
      width: 55%;   
      color: #111111; 
    }
  }
  
  @media only screen and (max-width: 700px) {  
    .home_image_button { width: 30%; font-size: 14px;}
    .home_image_subtitle { width: 62%; }
  }
  
  @media only screen and (max-width: 500px) {  
    .home_image_title > h1 { width: 100%; }
    .home_image_subtitle { width: 100%; }
    .home_image_button { width: 40%; font-size: 14px; margin-top: 2%;}
  }
  
  @media only screen and (max-width: 450px) { 
    .home_image_title > h1 > p {
      font-size: 35px;
    }
  }
  
  @media only screen and (max-width: 395px) { 
    .home_image_title > h1 > p {
      font-size: 30px;
    }
    .home_image_button { width: 50%; }
    .home_image_text { top: 17%; }
  }

  @media only screen and (max-width: 295px) { 
    .home_image_title > h1 > p {
      font-size: 28px;
    }
    .home_image_subtitle { font-size: 13px; }
    .home_image_button { width: 50%; font-size: small;}
  }