.spocitat_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-bottom: 5%;
    background-color: #4665E6;
}

.spocitat_text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; 
    margin-top: 5%;
    margin-bottom: 5%;
}

.spocitat_inner_text {    
    display: flex;
    width: 85%;
    flex-direction: column; 
    overflow: hidden;
}

.spocitat_text_1{
    font-weight: lighter;
    color: white;
    margin-top: 5%;  
}
.spocitat_text_1 > span{
    margin-left: 15%;
    line-height: 21px;
    font-family: 'Manrope';
}
.spocitat_text_2{
    margin-top: 2%;
    margin-bottom: 28px;
    color: white;
    font-size: large;
    text-align: left;
    display: flex;
}
.spocitat_text_2 > h1 {
    font-weight: 800;
    font-family: 'Manrope';
    line-height: 43.2px;
    margin-left: 15%;
}
.spocitat_info{
    display: flex;
    margin-bottom: 30px;
}
.spocitat_info > span {
    margin-left: 15%;
    color: white;
    font-family: 'Manrope';  
}

.spocitat_button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #4665E6;
    border-radius: 30px;
    width: 186px;
    height: 45px;
    margin-left: 15%;
    margin-bottom: 5%;
}

.spocitat_button:hover {
    color: blue;
    cursor: pointer;
}

.spocitat_button > i{
    margin-left: 7%;
    
}

.spocitat_pic {    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

.spocitat_sub {    
    display: flex;
    width: 100%;
    position: relative;
  }


.spocitat_sub > .spc_img{
    width: 68%;
    height: 68%;
    object-fit: cover;
    margin-left: 5%;
    border-radius: 20px;
    position: relative;
}

.spocitat_sub > .circle {
    position: absolute;
    z-index: 1;
    top: -10%;
    left: 50%;
    width: 30%;
    height: 30%;
}

.spocitat_button_text {
    text-decoration: none;
    color: #4665E6;
}

@media only screen and (max-width: 912px) { 
    .spocitat_container { 
        flex-direction: column; 
        margin-top: 5%; 
        height: auto;
    } 
    .spocitat_text, .spocitat_pic { 
        width: 100%; 
        height: auto; 
    }
    .spocitat_sub { 
        justify-content: center; 
    }
    .spocitat_sub > .spc_img{
        margin: 0;
        margin-top: 10%;
        margin-bottom: 10%;
        width: 50%;
        height: 50%;
    }
    .spocitat_sub > .circle {
        position: absolute;
        z-index: 1;
        top: 0%;
        left: 55%;
        width: 30%;
        height: 30%;
    }    
}

@media only screen and (max-width: 500px) {
    .spocitat_text_1 { margin-top: 10%; }
    .spocitat_button {
        margin-bottom: 10%;
        width: 170px;
        height: 35px;
    } 
    .spocitat_container { margin-bottom: 8%; }
}


@media only screen and (max-width: 400px) {
    .spocitat_text_2 > h1 { font-size: 28px !important; }
    .spocitat_info > span { font-size: 14px !important; }
    .spocitat_button {
        margin-bottom: 10%;
        width: 145px;
        height: 30px;
        font-size: 14px !important;
    } 
}


@media only screen and (max-width: 312px) {
    .spocitat_text_1 > span { font-size: 18px !important; }
    .spocitat_text_2 > h1 { font-size: 25px !important; }
    .spocitat_info > span { font-size: 12px !important; }
}

@media only screen and (max-width: 1100px) {     
    .spocitat_text_2 > h1 { font-size: 34px; }
    .spocitat_info > span { font-size: 15px; }

    .spocitat_info > span,
    .spocitat_text_2 > h1,
    .spocitat_button,
    .spocitat_text_1 > span  {
        margin-left: 10%;
    }
    .spocitat_inner_text {
        width: 90%;
    }
}