.threepic_container > div > img {
    object-fit: cover;
    width: 33.3333%;
    height: 50vh;
    position: absolute;
    z-index: -1;
  }
.threepic_container{
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.firstPic,
.secondPic,
.thirdPic{
   width: 33.3333%;
}