.threepiccontainer{
  display: flex;
  flex-direction: column;
  width: 100%;  
  align-items: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

.first_row, .second_row { width: 98%; }
.second_row { margin-top: 1%; }

.first_row, 
.second_row, 
.first_row_first_half,
.second_row_first_half,
.first_row_second_half,
.second_row_second_half {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.first_row_first_half,
.second_row_first_half,
.first_row_second_half,
.second_row_second_half { 
  display: flex;
  width: 50%; 
}

.first_row_first_pic,
.first_row_second_pic,
.first_row_third_pic,
.first_row_fourth_pic,
.second_row_first_pic,
.second_row_second_pic,
.second_row_third_pic,
.second_row_fourth_pic { width: 48%; }


.first_row_first_pic,
.first_row_third_pic,
.second_row_first_pic,
.second_row_third_pic { margin-right: 2%; }

.first_row_third_pic, .second_row_third_pic { margin-left: 1%; }

@media only screen and (max-width: 800px) {
  
  .first_row, .second_row { flex-direction: column; }
  
  .first_row_first_half,
  .second_row_first_half,
  .first_row_second_half,
  .second_row_second_half { width: 100%; }

  .first_row_second_half,
  .second_row_second_half { margin-top: 2%; }

  .second_row { margin-top: 2%; }
  
  .first_row_third_pic, .second_row_third_pic { margin-left: 0; }

  .first_row_first_pic,
  .first_row_second_pic,
  .first_row_third_pic,
  .first_row_fourth_pic,
  .second_row_first_pic,
  .second_row_second_pic,
  .second_row_third_pic,
  .second_row_fourth_pic { width: 47%; }
}

@media only screen and (max-width: 490px) {

  .threepiccontainer { 
    margin-top: 8%;
    margin-bottom: 7%;
  }

  .first_row_first_half,
  .second_row_first_half,
  .first_row_second_half,
  .second_row_second_half { 
    flex-direction: column; 
    align-items: center; 
  }

  .first_row_first_pic,
  .first_row_second_pic,
  .first_row_third_pic,
  .first_row_fourth_pic,
  .second_row_first_pic,
  .second_row_second_pic,
  .second_row_third_pic,
  .second_row_fourth_pic { 
    width: 85%; 
    margin: 0%;
  }

  .first_row_first_pic,
  .first_row_third_pic,
  .second_row_third_pic,
  .second_row_first_pic { 
    margin-bottom: 2%;
  }

}