.cartscreen {
  display: flex;
  flex-direction: column;
  min-width: 95%;
  max-width: 95%;
  margin: 2rem auto;
  margin-bottom: 10%;
  margin-top: 5%;

}
/*
.cartscreen > h2 {
  width: 100%;
  margin-bottom: 5%;
}*/

.shop_cart {
  width: 100%;
  margin-bottom: 5%;
  text-align: center;
}

.containers{
  display: flex;
  flex-direction: column; 
}

.products_container {
  display: flex;
  flex-direction: column;
}

.cartscreen__left {
  flex: 0.7;
  margin-right: 1rem;
  background: transparent;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
  border-radius: 15px;
}

.cartscreen__right {
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  width: 40%;
  height: fit-content;  
  border-radius: 10px;
  align-self: center;
  margin: 1rem;
}

.cartscreen__left_bottom {
  border-radius: 15px;
}

.cartscreen__right div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.cartscreen__info > p {
  padding: 8px;
  text-align: center;
}

.cartscreen__info p:first-child {
  font-weight: bold;
}

.cartscreen__right div:last-child {
  border: none;
}

.emptyCartTextContainer {  
  text-align: center;
}

.cartscreen__right div button:hover {
  opacity: 0.9;
}

.checkout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout > label {
  cursor: pointer; 
  border-radius: 10px; 
  overflow:hidden;  
  width: 200px; 
  height: 35px; 
}

.checkout > label > span{  
  display: flex; 
  align-items: center; 
  justify-content: center;
  font-size: 15px;
  font-family: 'Manrope';
  background-color:#4665E6; 
  color:white
}

.cartscreen > .placeOrderScreen_right {
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 33.33%;
  height: 20vh;
  margin-left: 30%;
}

.cartscreen > .placeOrderScreen_right  > .cartscreen__info {
  margin-left: 30%;
  margin-bottom: 5%;
}

.cartscreen > .placeOrderScreen_right > div > span > button {
  width: 40%;
  height: 40px;
  margin-bottom: 2%;
  margin-left: 30%;
  background: #4665E6;
  color: white;
  border: 0px;
}

@media screen and (max-width:600px) {
  .cartscreen__right {
    width: 70%;
    overflow: hidden;
  }
}

@media screen and (max-width:600px) {
  .cartscreen__right {
    width: 70%;
    overflow: hidden;
  }
}

@media screen and (max-width:350px) {
  .cartscreen__right {
    width: 85%;    
  }

  .checkout > label {
    width: 80%;
  }  
  
.checkout > label > span{  
  font-size: 13px;
  }
}