.ship_info{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 90%;
    height: 100px;
    background: rgb(255, 255, 255);
    word-break: break-all;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 3%;
}

.ship_info > h2{
    margin-bottom: 10px;
    margin-left: 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 90%;
    justify-content: center;
    border-radius: 30px;
}

.card-body >h2 {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.ship_info > p,
.paym_meth > p{
    margin-left: 10px;
}

